@page "/filmuebersicht"

<PageTitle>Filmübersicht</PageTitle>

<h1 class="fs-2 fw-bolder">Filmübersicht</h1>

<p>
<p class="mb-3">Diese Seite zeigt die vorhandenen Filme an:</p>
<div class="input-group mb-3">
    <input type="text" @bind-value="name" @bind-value:event="oninput" class="form-control" placeholder="Filmname" aria-label="Filmname" aria-describedby="button-filmsuche">
    <button class="btn btn-outline-secondary" type="button" id="button-filmsuche" @onclick="NeuLaden">Filme neu laden</button>
</div>
</p>
@if (films == null)
{
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_riok2joc.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
    <p class="mt-2">Lädt alle Filme...</p>
}
else
{
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Bewertung</th>
                <th>Empfindung</th>
                <th>Bild</th>
            </tr>
        </thead>
        <tbody>
            @{
                string imgid;
                string imgsrc;

            }

            @foreach (var film in films)
            {

                var i = film.Id;
                imgid = "ImagePreview-" + i;
                imgsrc = "";

                if (film.Vorschau != null &&
                    !film.Vorschau.Equals(""))
                {
                    imgsrc = film.Vorschau;
                }

                <tr>
                    <td>@film.Id</td>
                    <td>@film.Name</td>
                    <td>@film.Rating</td>
                    <td>@film.Feeling</td>
                    <td><img id=@imgid src=@imgsrc /></td>
                    <td><button type="button" class="btn btn-light m-1" @onclick="(async () => await bearbeiteObjekt(film))">Bearbeiten</button></td>
                </tr>
            }
        </tbody>
    </table>
}
