@page "/filmeingabe/{ID}"

@inject IJSRuntime JS
@inject NavigationManager _nav

<PageTitle>Filmeingabe</PageTitle>

<h1 class="fs-2 fw-bolder">Filmeingabe</h1>


<EditForm Model="@film" class="p-3 mb-2 bg-light" OnValidSubmit="@SendObjekt" enctype="multipart/form-data">


    <p>Bewerte deinen Film.</p>
    <p>Id: <Input type="number" @bind-value="film.Id" @bind-value:event="oninput" disabled /></p>
    <p>Name: <Input type="text" @bind-value="film.Name" @bind-value:event="oninput" /></p>
    <p>Bewertung: <Input type="number" @bind-value="film.Rating" @bind-value:event="oninput" /></p>
    <p>Empfindung: <Input type="text" @bind-value="film.Feeling" @bind-value:event="oninput" /></p>
    <p>Lade neues Bild: <InputFile OnChange="ImageLoad" accept="image/*" /></p>

    <p><button class="btn btn-dark me-2" type="submit">Speichern</button>
    @if (film.Id > 0)
    {
        <button class="btn btn-dark ml-2" @onclick="DeleteObjekt">Löschen</button>
    }
    </p>

    <DataAnnotationsValidator />
    <ValidationSummary />
    <!--<p>REST-Return-Code: @returnCode</p>-->

    <h2 class="mb-2">Vorschaubild:</h2>
    <img id="ImagePreview" class="shadow p-3 mb-5 bg-body rounded" src=@film.Bild />

</EditForm>