@page "/filmuebersicht"

<PageTitle>Filmübersicht</PageTitle>

<h1 class="fs-2 fw-bolder">Filmübersicht</h1>

<p>
    Diese Seite zeigt die vorhandenen Filme an:
    <br />
    <Input type="text" @bind-value="name" @bind-value:event="oninput" />
    <br />
    <button class="btn btn-primary" @onclick="NeuLaden">Filme neu laden</button>
</p>
@if (films == null)
{
    <p><em>Lädt...</em></p>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Bewertung</th>
                <th>Empfindung</th>
                <th>Bild</th>
            </tr>
        </thead>
        <tbody>
           @{
                string imgid;
                string imgsrc;

            }

            @foreach (var film in films)
            {

                var i = film.Id;
                imgid = "ImagePreview-"+i;
                imgsrc = "";

                if (film.Vorschau != null &&
                    !film.Vorschau.Equals(""))
                {
                    imgsrc = film.Vorschau;
                }

                <tr>
                    <td>@film.Id</td>
                    <td>@film.Name</td>
                    <td>@film.Rating</td>
                    <td>@film.Feeling</td>
                    <td><img id=@imgid src=@imgsrc /></td>
                    <td><button type="button" @onclick="(async () => await bearbeiteObjekt(film))">Bearbeiten</button></td>
                </tr>
            }
        </tbody>
    </table>
}
