@page "/"

<!-- Startseite Mit Begrüssung und Marvel-Filme als Hintergrund. -->

<PageTitle>Index</PageTitle>

<div class="card bg-dark text-white m-5">
    <img src="https://tecake.com/wp-content/uploads/2020/10/The-Best-Order-to-Watch-Marvel-Movies-Featured-StudioBinder.jpg" class="card-img" alt="filmography marvel">
    <div class="card-img-overlay">
        <h1 class="fs-2 fw-bolder">Willkommen bei MovieFinder!</h1>
        <h2>Du kannst hier Filme bewerten und anzeigen lassen. </h2>
        <h2>Viel Spass!</h2>
    </div>
</div>