
@page "/recommendation"

<PageTitle>"recommendation"</PageTitle>

<div class="container">

       <div id="recommendationHeader" class="row justify-content-start">
        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
            <h2 class="h3 mb-4 page-title">Deine Empfehlungen!</h2>
            <h3 class="h4">Du kannst dir deine Empfehlungen auch per Mail zusenden!</h3>
        </div>

        <button type="submit" class="btn btn-primary">absenden</button>

    </div>
</div>

@code {

}
