#filmListRecommendation {

    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
    margin-left: 1vh;
    margin-right: 1vh;
    margin-bottom: 1vh;
}
