
@page "/recommendation"

<PageTitle>Recommendation</PageTitle>

<div class="container">

    <div id="recommendationHeader" class="row justify-content-start">
        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
            <h2 class="h3 mb-4 page-title">Deine Empfehlungen!</h2>
            <h3 class="h4">Du kannst dir deine Empfehlungen auch per Mail zusenden!</h3>
        </div>

        <button type="submit" @onclick="ButtonResponseChangeRecom" class="btn btn-primary">absenden</button>
        <p>@buttonResponseRecom</p>

    </div>

    <ul class="list-group list-group-horizontal">
        @for (int x = 0; x < RecommendedFilm.Length; x++)
            {
            <li>

                <p>@RecommendedFilm[@x].Picture</p>
                <p>@RecommendedFilm[@x].ID</p>
                <p>@RecommendedFilm[@x].Name</p>

            </li>
        }
    </ul>

</div>