@page "/search"

<PageTitle>Suche</PageTitle>

<h1>Suche deinen Lieblingsfilm und bewerte ihn</h1>

<label for="gsearch">Suche deinen Film</label>
<input type="search" id="filmSearch" name="filmSearch">
<!--
<ul id="filmListSearch" class="list-group list-group-horizontal">
    @for (int x = 0; x < @searchedFilm.Length; x++)
    {
        <li>

            <p>@searchedFilm[@x].Picture</p>
            <p>@searchedFilm[@x].ID</p>
            <p>@searchedFilm[@x].Name</p>
            <button type="submit" id="searchLike-@x" class="btn btn-primary">Like</button>
            <button type="submit" id="searchDislike-@x" class="btn btn-primary">Dislike</button>

        </li>
    }
</ul>

-->