
@page "/user"

@using swi2gruppe1.Data
@using swi2gruppe1.Proxy



<PageTitle>UserSettings</PageTitle>



<div class="container">
<div class="row justify-content-center">
<div class="col-12 col-lg-10 col-xl-8 mx-auto">
<h2 class="h3 mb-4 page-title">Benutzereinstellungen</h2>
<div class="my-4">
<form>
<div class="row mt-5 col-md-6 align-items-center">
<div class="col-md-3 text-center mb-5">
<div class="avatar avatar-sm">
<img src="https://icon-library.com/images/anonymous-person-icon/anonymous-person-icon-18.jpg"/>
</div>
</div>
</div>
<div class="form-row"></div>
<div class="form-group col-md-6">
<label for="nickname">Nickname</label>
<!--<input type="text" @bind-value="user.Nickname" @bind-value:event="oninput" class="form-control" id="nickname" placeholder="maxinator12"/>
-->
</div>
    <!--
<div class="form-group col-md-6">
<label for="firstname">Vorname</label>
<input type="text" @bind-value="user.Firstname" @bind-value:event="oninput" id="firstname" class="form-control" placeholder="Max" />
</div>
<div class="form-group col-md-6">
<label for="lastname">Nachname</label>
<input type="text" @bind-value="user.Lastname" @bind-value:event="oninput" id="lastname" class="form-control" placeholder="Muster" />
</div>
</div>
<div class="form-group">
<label for="inputEmail4">E-Mail</label>
<input type="email" @bind-value="user.Email" @bind-value:event="oninput" class="form-control" id="inputEmail4" placeholder="max.muster@ost.ch" />
</div> -->

        
<!--
<button type="submit" @onclick="SendInformation" class="btn btn-primary">speichern</button> -->
</form>
</div>
</div>
</div>



</div>




<!-- OLD SHIT
<div class="container">
<div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
        <h2 class="h3 mb-4 page-title">Benutzereinstellungen</h2>
        <div class="my-4">
            <form>
                <div class="row mt-5 col-md-6 align-items-center">
                    <div class="col-md-3 text-center mb-5">
                        <div class="avatar avatar-sm">
                            <img src="https://icon-library.com/images/anonymous-person-icon/anonymous-person-icon-18.jpg"/>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nickname">Nickname</label>
                        <input type="text" class="form-control" id="nickname" placeholder="maxinator12"/>
                    </div>                
                    
                    <div class="form-group col-md-6">
                        <label for="firstname">Vorname</label>
                        <input type="text" id="firstname" class="form-control" placeholder="Max" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastname">Nachname</label>
                        <input type="text" id="lastname" class="form-control" placeholder="Muster" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail4">E-Mail</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="max.muster@ost.ch" />
                </div>

                <button type="submit" class="btn btn-primary">speichern</button>
            </form>
        </div>
    </div>
</div>

</div>



@code {

}
-->